@import url('./views/main-view.css');
@import url('lumo-css-framework/all-classes.css');

:root {
    --datepicker-overlay-background-image:
            linear-gradient(var(--lumo-shade-5pct), var(--lumo-shade-5pct));
    --navbar-background:
            var(--lumo-base-color) linear-gradient(var(--lumo-contrast-5pct), var(--lumo-contrast-5pct));
}

body[theme~="carrot_inc"] {
    --yellow-carrot: #ffa84a;
    --orange-carrot: #d25700;

    --lumo-base-color: var(--yellow-carrot);
    --lumo-primary-color: var(--yellow-carrot);
    --lumo-primary-text-color: var(--orange-carrot);
}

body[theme~="carrot_inc"] [theme~="dark"] {
    --lumo-base-color: var(--orange-carrot);
    --lumo-primary-text-color: var(--yellow-carrot);
}

body[theme~="clean"] {
    --lumo-primary-text-color: black;
    --text-color: var(--lumo-primary-text-color);
    --_lumo-button-primary-background-color: transparent;
    --_lumo-button-color: black;
    --_lumo-button-primary-color: black;

    --datepicker-overlay-background-image: none;
    --navbar-background: none;
}

body[theme~="clean"] vaadin-app-layout::part(navbar)::before {
    background: var(--navbar-background);
}

body[theme~="clean"] vaadin-tab[selected]{
    background-color: rgba(0, 0, 0, 0);
}

body[theme~="clean"] [theme~="dark"] {
    --lumo-base-color: rgba(0, 0, 0, 0);
    --lumo-box-shadow-s: none;
    --lumo-primary-text-color: black;
    --lumo-header-text-color: black;
}

body[theme~="clean"] .editor-layout {
    background: none;
}

body[theme~="clean"] vaadin-text-field, body[theme~="clean"] vaadin-date-picker {
    --lumo-contrast-10pct: transparent;
}